body{
    height: fit-content;
    width: fit-content;
}

#cont {
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
#chess {
    width: 900px;
}
.square-box {
    float: left;
    width: 105px;
    height: 105px;
    background-color: #000;
}