<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Design by foolishdeveloper.com -->
  <title>Glassmorphism login Form Tutorial in html css</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->
  <!-- <link rel="stylesheet" href="/styles/importer.less"> -->
</head>

<body style="background-color: #080710;">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form class="loginform form" style="color: white;" action="/success" method="post">
    <h3>Login Here</h3>
    <label for="username">Email</label>
    <input name="email" style="color: white;" type="email" placeholder="Email address" required>

    <label for="password">Password</label>
    <input name="password" style="color: white;" type="password" placeholder="Password" required minlength="8">
    
    <% flash.get('fail').forEach(function (message) { %>
    <div style="color:rgb(255, 0, 0);">
      <%= message %>
    </div>
    <% }) %>

    <% flash.get('failpass').forEach(function (message) { %>
      <div style="color:rgb(255, 0, 0);">
        <%= message %>
      </div>
      <% }) %>
    <button type="submit">Log In</button>
    <br><br>
    <div>
      <h5>New on this site?? <a style="color: white;" href="/signup">Signup Here</a></h5>
    </div>
  </form>
</body>

</html>